<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DataDriver Suite">
 <listeners>
      <listener class-name="com.fpix.listeners.Lern.CustomListeners"/>
    </listeners>

  <test thread-count="5" name="Login Scenario">
    <classes>
      <class name="com.fpix.tests.Lern.LoginScenario"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
